:root {
  --theme1-main-color: #2bb7da;
  --theme1-secondary-color: #31d35c;
  
  --theme2-main-color: #ff0844;
  --theme2-secondary-color: #ffb188;

  --theme3-main-color: #FFC107;
  --theme3-secondary-color: #f00;

  --main-text-color:black;
  --main-bg-color:#141414;
  --secondary-bg-color:#181f1f;
  --main-box-shadow-color:0px 0px 10px 0px #e2e2e2;
  --main-border-radius: 4px;
  --main-transition:0.3s;
}


